.header {
    border: 1px solid black;
    /* background-color: black; */
}

.navigation {
    width: 50%;
    text-align: center;
}

div{
    border: 1px solid pink;
    /* color: white; */
}
.logo > img {
    height: 100px;

}